html body
{
	margin:20px auto;
	width: 532px;
}

header
{
	width: 430px;
	margin:10px auto;
	text-align: center;
}

body section.slot-section
{
	padding: 20px 15px 30px 15px;
}

#slots
{
	margin:10px auto;
	border: 5px solid #1b6a8b;
	border-radius: 15px;
	background-color: #c4e1e6;
	width:450px;
	padding: 10px;
}

#bet
{
	margin-left:20px;
}

canvas
{
	margin:10px 0 10px 0px;
	height: 250px;
	border:3px solid #111;
}

#start-button
{
	margin:10px 0 0 10px;
	display: inline-block;
}

#results
{
	margin-left:20px;
}

#score
{
	display:inline-block;
	width: 100px;
	margin-left:2px;
}

#score-box
{
	display: inline;
	width: 450px;
	height: 40px;
	text-align: center;
	padding:30px 0;
}

#langs
{

}